<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lights
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showSplash" class="splash">
    <div class="lds-default">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div *ngIf="show">
    <ion-list>
      <ion-item *ngFor="let d of array">
        <ion-title (click)="cargarChart(d.id,d.lugar)">{{d.lugar}}</ion-title>
        <ion-toggle checked="{{d.estado}}"  (ionChange)="updateStatus($event,d.id)"></ion-toggle>
        <!-- <ion-button  slot="end" size="small" (click)="cargarChart(d.id)">show use</ion-button> -->
      </ion-item>
    </ion-list>
  </div>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Historial de uso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #chart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>



